<h1>Employee Details</h1>
<button (click)="buttonPress()">Press Here</button>  
<div *ngIf="show" class="container">
<table  class="table table-striped" >
    <tr>
        <th>Id</th>
        <th>Employee Name</th>
        <th>Employee Salary</th>
        <th>Employee age</th>
        <th>Profile Image</th>
    </tr>
    <tr *ngFor="let item of empDet">
        <td>{{item.id }}</td>
        <td>{{item.employee_name }}</td>
        <td>{{item.employee_salary }}</td>
        <td>{{item.employee_age }}</td>
        <td>{{item.profile_image }}</td>
    </tr>
</table>
</div>